.main-div{
    color: white;
}
table{
    width: 100%;
    margin-top: 8%;
}
table, td{
    color: white;
    text-align: center;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 46% 54% 83% 17% / 19% 34% 66% 81% ;
}